[Desktop Entry]
Encoding=UTF-8
Name=Coinrac Core
Comment=Coinrac P2P Cryptocurrency
Comment[de]=Verbinde mit dem Coinrac peer-to-peer Netzwerk
Comment[fr]=Coinrac, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Coinrac, eşten eşe kriptografik sanal para birimi
Exec=raptoreum-qt %u
Terminal=false
Type=Application
Icon=raptoreum128
MimeType=x-scheme-handler/raptoreum;
Categories=Office;Finance;
