[Unit]
Description=Coinrac's distributed currency daemon
After=network.target

[Service]
User=coinraccore
Group=coinraccore

Type=forking
PIDFile=/var/lib/coinracd/coinracd.pid
ExecStart=/usr/bin/coinracd -daemon -pid=/var/lib/coinracd/coinracd.pid \
-conf=/etc/coinraccore/coinrac.conf -datadir=/var/lib/coinracd -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
